* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

body {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;  
  font-family: 'Open Sans', sans-serif;
  background-color: hsl(257, 40%, 49%);
  background-image: url(images/bg-desktop.svg);
  background-size: cover;
  background-position: top -70px left;
  background-repeat: no-repeat;

  color: #fff;
}

h1,
h2,
h2,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.wrapper {
  display: flex;
  justify-content: space-around;  
  height: 100vh;
  width: 90vw;
  flex-wrap: wrap;  
  
}

h1 {
  font-size: 2.5rem;
  max-width: 20ch;  
  padding-bottom: 20px;
  letter-spacing: 0px;
}

.column1 {
  
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.column2 {
  align-self: flex-end;
  margin-left: 60px;
  display: flex;
  flex-direction: column;  
  justify-content: center;   
  text-align: left;
  max-width: 600px;
}

.column2 p {
  align-self: start;
  font-size: 1.1rem;
  max-width: 50ch;
  padding-bottom: 25px;
  text-align: left;
}

.logo {
  width: 200px;
  margin: 60px 0;
}

.illustration {
  max-width: 800px;
  width: 100%;
}

.calltoaction {
  width: 100%;
}

.cta {
  font-size: 1.2rem;
  margin-bottom: 160px;
}

.icons { 
  align-self: flex-end;
  justify-self: flex-end;
  display: flex; 
  margin-bottom: 50px;
}

.icons i {
  cursor: pointer;
  width: 40px;
  height: 40px;    
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  margin: 0 10px;
}

.icons i:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}

button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: hsl(257, 40%, 49%);
  cursor: pointer;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
}

button:hover,
button:active {
  background-color: hsl(300, 69%, 71%);
}

button:focus {
  outline: none;
}

footer {
  position: absolute;
  bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.75rem;
}

.column1 {
  
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.logo {
  margin: 0;
  padding-bottom: 40px;
  width: 150px;
}

.column2 {
  margin: auto;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
}

.column2 p {
  align-self: start;
  font-size: 1.1rem;
  max-width: 50ch;
  padding-bottom: 25px;
  text-align: center;
}

.cta {  
  margin-bottom: 70px;
}

.icons { 
  align-self: center;
  justify-self: flex-end;
  display: flex; 
  margin-bottom: 10px;
}


}